// Colores
$primary-color: #3498db;
$secondary-color: #2ecc71;
$dark-color: #2c3e50;
$light-color: #ecf0f1;

// Tipografía
$font-main: 'Helvetica Neue', Arial, sans-serif;
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-small: 14px;

// Espaciado
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;

// radio
$radius: 5%;

// Breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 1024px;