@import './variable';
@import './mixins';

.navbar {
    background-color: $dark-color;
    padding: $spacing-medium;

    .navbar-brand {
        color: $light-color;
        font-size: $font-size-large;
        font-weight: bold;

        &:hover {
            color: $primary-color;
            transition: color 0.3s ease;
        }
    }
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: $spacing-medium;

    li {
        a {
            color: $light-color;
            text-decoration: none;
            padding: $spacing-small;

            &:hover {
                color: $secondary-color;
            }

            &.active {
                border-bottom: 2px solid $primary-color;
            }
        }
    }
}

.contenedor{
    display: flex;

}

.card {
    background-color: white;
    padding: $spacing-large;
    @include border-radius($radius);
    @include box-shadow(0px, 4px, 6px, rgba(0, 0, 0, 0.1));
    @include transition(transform, 0.3s, ease);

    &:hover {
        transform: translateY(-5px);
        @include box-shadow(0px, 8px, 12px, rgba(0, 0, 0, 0.15));
    }
}


.card-header{
    @include flex-center;
    color: $primary-color;
    font-size: $font-size-large;
    margin-bottom: $spacing-medium;
}
