*{
box-sizing: border-box;
padding: 0px;
margin: 0px;
}

.box {
  display: flex;
  /* flex-wrap: wrap;
  width: 300px; */
  align-items: center; 
  /* height: 100vh */
}

.box div {
  width: 120px;
  height: 200px;
  align-content: flex-start;
  text-align: center;
  
}

/* .box div:first-child{
  height: 200px;
} */

.box div:nth-child(even) {
  background-color: rgb(147, 184, 13);
}

/* .box div:nth-child(even) {
  background-color: rgb(215, 246, 15);
}

.box div:nth-child(odd) {
  background-color: aquamarine;
} */