*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.box{
    display: flex;
    width: 300px;
    color: white;
    flex-wrap: wrap;
}

.box div{
    width: 300px;
    background-color: green;
    font-size: 50px;
}
.box div:first-child{
    background-color: rgb(187, 222, 49);
}
.box div:last-child{
    background-color: rgb(187, 222, 49);
}
.box div:nth-child(2){
    background-color: rgb(13, 161, 154);
}