// 🎨 Variables de color estilo Spotify
$color-black: #000000;
$color-dark: #121212;
$color-light-dark: #181818;
$color-white: #ffffff;
$color-gray: #b3b3b3;
$color-green: #1db954;

// 📏 Tamaños
$sidebar-width: 250px;
$card-size: 160px;
$border-radius: 10px;

// Tipografías
$font-main: 'Arial', sans-serif;
