*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,100px);
    gap: 10px;
}

.lista {
    background: indigo;
    font-size: 2rem;
    color: white;
    text-align: center;
}